JWT_SECRET=tu-secreto-super-seguro-aqui
PORT=3000
NODE_ENV=production
# MEDIA_FOLDER=./media (Opcional, usa el valor por defecto)

# TMDB API KEY (Obtenla en https://www.themoviedb.org/settings/api)
TMDB_API_KEY=
